/**
* @section Reset styles
* These styles reset the default style sheet that comes with the user agent.
*/
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, blockquote, pre, textarea {
    margin: 0
}

ul, ol, td, th, fieldset, legend {
    padding: 0
}

fieldset {
    border: none
}

a {
	color: #000;
	text-decoration: none
}

a:hover {color: #c60}

img {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

/**
* Clearfix
*/
.cf:before, .cf:after {
    content: " ";
    display: table
}

.cf:after {clear: both}

/**
* Image Replacement
*/
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden
}

/**
* @section HTML5 Elements
* Set display:block for HTML5 block elements
*/
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}

/**
* @section General
* Custom design for this app here
*/
body {
	background-color: #F7F5EF;
	color: #333;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	color: #666;
	margin: 15px 0 30px;
	text-align: center;
}

.loading {
	display: block;
	height: 32px;
	margin: 0 auto;
	width: 32px
}

.error {
	text-align: center
}

.powered-by {
	display: block;
	margin: 0 auto 15px
}

#stream {
	margin: 15px auto 40px;
	padding: 0 15px;
	max-width: 450px
}

.user, .checkin {
	margin-bottom: 15px
}

.user {
	width: 190px;
	margin-left: auto;
	margin-right: auto
}

.user .avatar {
	border-radius: 30px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    float: left;
    height: 48px;
    overflow: hidden;
    width: 48px
}

.user .name {
	padding-left: 60px;
    padding-top: 4px
}

.user span {
	color: #999;
    font-size: 14px;
    padding-left: 12px
}

.checkin {
	background-color: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	padding: 15px
}

.checkin:last-of-type {
	margin-bottom: 0
}

.beer {
	margin-bottom: 16px;
    min-height: 50px;
    padding-left: 60px;
}

.beer span {
	color: #666
}

.beer-label {
	float: left;
	height: 50px;
    width: 50px
}

.rating {
    background: url("img/ratings.png") no-repeat center center rgba(0, 0, 0, 0);
    display: block;
    height: 24px;
    width: 137px;
}

.rating.r0 {
	background-position: 0 0
}

.rating.r0-5 {
	background-position: 0 -24px
}

.rating.r1 {
	background-position: 0 -49px
}

.rating.r1-5 {
	background-position: 0 -73px
}

.rating.r2 {
	background-position: 0 -97px
}

.rating.r2-5 {
	background-position: 0 -121px
}

.rating.r3 {
	background-position: 0 -145px
}

.rating.r3-5 {
	background-position: 0 -169px
}

.rating.r4 {
	background-position: 0 -193px
}

.rating.r4-5 {
	background-position: 0 -217px
}

.rating.r5 {
	background-position: 0 -241px
}

.comment {
    color: #666;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px
}

footer {
	border-top: 1px solid #eee;
	clear: both;
    margin-top: 12px;
    padding-top: 8px
}

.footer-time {
	float: right
}

.footer-time time {
    color: #A9A9A9;
    display: inline-block;
    font-size: 14px
}

.footer-time .checkin-page {
    background: url("img/ico_checkin_page.png") no-repeat left top rgba(0, 0, 0, 0);
    display: inline-block;
    height: 18px;
    margin-left: 4px;
    vertical-align: top;
    width: 13px;
}

.location {
	float: left
}

.location a {
    background: url("img/ico_location.png") no-repeat left center rgba(0, 0, 0, 0);
    color: #A9A9A9;
    display: block;
    font-size: 16px;
    overflow: hidden;
    padding-left: 18px;
    text-overflow: ellipsis;
    width: 230px;
    white-space: nowrap
}